*{
    margin: 0%;
    /* height: 12344px; */
}
.header1{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 40px;
    margin-right: 80px;
}
.header1 ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 23px; */
    margin-left: auto;
    gap: 3em;
    font-family: Sans-serif;
    font-size: larger;
    height: 4em;
    text-align: center;
    padding-top: 35px;
    font-weight: bold;
}
.header1 img{
    height: 3em;
    margin-top: 24px;
}
.header1 ul .button{
    height: 2.5em;
    border-radius: 15px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    background-color: white;
    width: 14em;
    height: 4em;
    display: flex;
    gap: 9px;
}
.header1 ul .button img{
    width: 20px;
    height: 23px;
    margin-top: 4px;
}
.header1 ul .button h3{
    /* width: 24px; */
    margin-top: 8px;
}

.header2{
    background-image: url('2022-06-05_Vrbo_APFT2_Barcelona_Therin_House_2_4605_2.jpeg');
    background-size: cover;
    height: 44em;
    /* height: 100%; */
    background-repeat: none;
}
.header2 h2{
    font-size: 45px;
    color: white;
    padding-top: 6em;
    /* padding-bottom: 1em; */
    margin-left: 120px;
}
.inputline{
    position: sticky;
    top: 0px;
    bottom: 100%;
    background-color: white;
    width: 90%;
    border-radius: 25px;
    margin: 3em 7em;
    height: 5em;
    text-align: center;
    padding-top: 14px;
    margin-top: -340px;
    margin-bottom: 280px;
    z-index: 1;
    
    /* margin: 0%; */
    /* display: flex;
    gap: 40px; */
}
.input{
    width: 28%;
    border-radius: 15px;
    height: 3em;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
}
.inputline button{
    height: 50%;
    width: 5.5%;
    background-color: rgba(25,30,59,255);
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}
.layer2{
    background-color: rgba(25,30,59,255);
    display: flex;
    gap: 60px;
    width: 92%;
    height: 110px;
    border-radius: 20px;
    margin-left: 90px;
    margin-top: 23px;
    color: white;
}
.layer2 img{
    width: 80px;
    border-radius: 50px;
    height: 90px;
    margin-top: 12px;
    /* color: white; */
    background-color:rgba(174,209,243,255);
    margin-left: 12px;
}
.layer2 h6{
    font-family: sans-serif;
    font-size: 26px;
    text-align: center;
    margin-left: 24px;
    margin-top: 50px;
}
.layer2 button{
    width: 123px;
    height: 40px;
    border-radius: 15px;
    background-color:rgba(25,30,59,255);
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: auto;
    margin-top: 43px;
    margin-right: 12px;
}
.text1{
    margin-left: 90px;
    margin-top: 23px;
    font-family: sans-serif;
    font-size: 40px;
}
.txtimgs{
    display: flex;
    margin-left: 90px;
    gap: 40px;
}
.one {
    border: 1px solid rgba(128, 128, 128, 0.265);
    border-radius: 25px;
}
.one img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}
.one h2{
    margin-top: 10px;
    margin-bottom: 16px;
    margin-left: 15px;
    font-size: 24px;
}
.two {
    border: 1px solid rgba(128, 128, 128, 0.265);
    border-radius: 25px;
}
.two img{
    width: 380px;
    /* height: 120px; */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;  
}
.two h2{
    margin-top: 10px;
    margin-bottom: 16px;
    margin-left: 15px;
    font-size: 24px;
}
.three {
    border: 1px solid rgba(128, 128, 128, 0.265);
    border-radius: 25px;
}
.three img{
    width: 380px;
    /* height: 120px; */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;  
}
.three h2{
    margin-top: 10px;
    margin-bottom: 16px;
    margin-left: 15px;
    font-size: 24px;
}
.four {
    border: 1px solid rgba(128, 128, 128, 0.265);
    border-radius: 25px;
}
.four img{
    width: 380px;
    /* height: 120px; */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;  
}
.four h2{
    margin-top: 10px;
    margin-bottom: 16px;
    margin-left: 15px;
    font-size: 24px;
}
.text2{
    margin-left: 90px;
    margin-top: 23px;
    font-family: sans-serif;
    font-size: 40px;
}

 .images{
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 50px;
    margin-left: 90px;
    /* padding: 25px; */
    filter: brightness(70%);
 }
 .images img{
    width: 17%;
    margin-top: 12px;
    border-radius: 15px;
 }
 .names{
    /* z-index: auto; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    list-style: none;
    justify-content: space-between;
    margin-left: 65px;
    margin-right: 200px;
    font-family: sans-serif;
    font-size:20px;
    font-weight: bold;
    color: white;
    margin-top:-32px;
 }
 .text3{
    margin-left: 90px;
    margin-top: 12px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 80;
 }
 .secondimages{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 52px;
    margin-left: 90px;
    
 }
 .secondimages img{
    border-radius: 25px;
 }
 .imgwithtext{
    display: flex;
    flex-direction: column;
    width: 20%;
 }
 .imgwithtext button{
    width: 10%;
    background-color: green;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: 2px;
    padding-right: 31px;
 }
 .imgwithtext span{
    padding-left: 12px;
 }
 .imgwithtext h5,.imgwithtext h2{
    padding-top: 12px;
    font-size: 25px;
 }
 .imgwithtext h6,.imgwithtext h3,.imgwithtext h4{
    padding-top: 6px;
    font-size: 18px;
    font-weight: 400;
 }
.next2{
    display: flex;
    margin-left: 90px;
    gap: 30px;
}
.next2 .img{
    border-radius: 25px;
    margin-top: 24px;
}
 
.next2 h2{
    font-family: sans-serif;
    font-weight: 300;
    font-size: large;
    padding-top: 13px;
}

.bodered{
    border: 1px solid black;
    display: flex;
    margin-right: 5%;
    margin-left:5%;
    border-radius: 25px;
    height: 270px;
    padding-top: 12px;
    margin-top: 25px;
}
.bodered .first{
    width: 25%;
    padding-left: 12px;
    margin-right: 234px;
}
.bodered .first h2{
   font-family: sans-serif;
   font-size: 45px;
}
.bodered .first p{
    font-family: sans-serif;
    margin-top: 12px;
    font-size: 18px;
 }
.bodered .second{
    margin-right: auto;
}
.bodered .second .images2{
    display: flex;
    gap: 60px;
}
.bodered .second .images2 img{
    width: 189px;
    border-radius: 25px;
    filter: brightness(70%);

}
.bodered .second .names2{
    position: relative;
    display: flex;
    gap: 140px;
    list-style: none;
    color: white;
    margin-top: -22px;

}
.bodered .second .names2 .last{
    margin-left: 73px;
    width: 123px;
    margin-top: -24px;
}
.marks{
    display: flex;
    margin-left: 90px;
    margin-right: 80px;
    margin-top: 60px;
    gap: 90px;
}
.marks .n1 img{
    width: 34px;
}
.marks .n1 h2{
    font-family: sans-serif;
    margin-top: 12px;
    font-size: 25px;
}
.marks .n1 h5{
    font-family: sans-serif;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
}
.girl{
    position:absolute;
    margin-left: 90px;
}
.girl img{
    margin-top: 44px;
    width: 105em;
    border-radius: 25px;
}
.para{
    position: relative;
    margin-top: -550px;
    width: 490px;
    height: max-content;
    margin-left: 104px;
    margin-bottom: 123px;
    background-color: white;
    border-radius: 15px;
}
.para h2{
    font-family: serif;
    font-weight: 500;
    font-size: 45px;
    margin-left: 18px;
    padding-top: 24px;
    margin-right: 20px;
    margin-bottom: 12px;
}
.para p{
    font-family: serif;
    font-weight: 500;
    font-size: 25px;
    margin-left: 18px;
    margin-top: 12px;
    margin-right: 20px;
    margin-bottom: 12px;
}
.para button{
    margin-left: 18px;
    margin-top: 12px;
    margin-bottom: 14px;
    background-color: rgba(64,68,92,255);
    color: white;
    height: 45px;
    border-radius: 15px;
    font-size: larger;
}
.wordspart{
    margin-top: 850px;
}

.lastparagraphs{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 24px;
    font-family: serif;
    font-size: larger;
    font-weight: 100;
}
.h2es{
    margin-left: 90px;
    margin-top: 44px;
    font-family: serif;
    font-size: 28px;
    font-weight: 550;
}
.footer{
    margin: 24px;
    background-color: rgba(247,247,248,255);
    
}
.lay1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}
.lay1 .list1{
    list-style: none;
    margin-top: 34px;
    margin-left: 30px;
}
.lay1 .list1 .l1{
    margin-bottom: 34px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    
}
.lay1 .list1 .l2{
    /* margin-bottom: 34px; */
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    
}
.lay1 .list1 li{
    margin-bottom: 14px;
    
}


.lay1 .list2 {
    list-style: none;
    margin-top: 34px;
}
.lay1 .list2 li{
    margin-bottom: 14px;
}
.lay1 .list2 .l1{
    margin-top: 74px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}


.lay1 .list3 {
    list-style: none;
    margin-top: 34px;
    margin-right: 395px;
}
.lay1 .list3 li{
    margin-bottom: 14px;
}
.lay1 .list3 .l1{
    margin-top: 74px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;

}

.lay2 p{
    text-align: center;
    margin-top: 40px;
    padding-bottom: 80px;
}
a{
    text-decoration: none;
    font-size: 16px;
    
}